$text: #323436;
$text-alpha: #5F5F5F;
$border: #d9d9d9;
$green:#7AAF7E;
$ogran:#E88F74;
$brand2:#404D56;
@media only screen and (max-width: 1200px) {
  .banner-slide .infor-banner-home{
    padding-bottom: 80px !important;
  }
  .booking-btn{
    display: block;
    animation-name: trin;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes trin {

    from {
        transform:rotate3d(0, 0, 1, 0deg);
    }
    20%, 32%, 44%, 56%, 68% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    23%, 35%, 47%, 59%, 71% {
        transform: rotate3d(0,0,1,15deg);
    }
    26%, 38%, 50%, 62%, 74% {
        transform: rotate3d(0,0,1,0deg);
    }
    29%, 41%, 53%, 65%, 77% {
        transform: rotate3d(0,0,1,-15deg);
    }
    80% {
        transform:rotate3d(0, 0, 1, 0deg);
    }

}
.conetnt-infor-bannerhome {
  max-width: 95%;
}
  .default-header {
    padding: 10px 15px;
}
footer{
  padding-right:15px;
  padding-left:15px;
}
  .banner-slide .infor-banner-home h6::after{
    height: 30px;
  }
}
@media only screen and (max-width: 960px) {
  header{
    .button-action{
      display: none;
    }
  }
  body header.scroll-to-top .scroll-header{
    display: none !important;
  }
  body header.scroll-to-top{
    background: $brand2;
    height: 70px;
    .default-header{
      display: flex !important;
      padding-top: 2px;
    padding-bottom: 2px;
      .menu-hambuger {
        margin: 0px 0 0 40px;
          cursor: pointer;
      }
     .logo-short img {
        height: 63px;
    }
    }
  }
  .banner-MB{
    display: block !important;
  }
  .banner-PC{
    display: none !important;
  }
  header{
    .logo-short{
      img{
        height: 80px;
      }
    }
  }
  h1{
    font-size: 34px !important;
  }
  .banner-slide .infor-banner-home p {
    font-size: 16px;
    color: white;
    br{
      display: none;
    }
}
    .owl-nav{
        button{
          &.owl-prev{
            left: -40px !important;
          }
          &.owl-next{
            right: -40px !important;
          }
        }
      }
      .close-menu-PC-MB {
        cursor: pointer;
        position: fixed;
        right: -10px;
        top: 10px;
        width: 90px;
        height: 70px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        z-index: 99999;
    }
    .section-overview-infor.gray{
      .row{
        flex-direction: column-reverse;
      }
    }
    p{
      font-size: 14px;
    }  
    h2{
      font-size: 30px;
    }
    h3{
      font-size: 26px;
    }
    h4{
      font-size: 22px;
    }
    h5{
      font-size: 20px;
    }
    h6{
      font-size: 18px;
    }
    .form-homepage{
      h4{
        font-size: 18px;
      }
    }
    .form-homepage form {
      flex-wrap: wrap;
      padding-right: 0;
      .button-action-form{
        position: relative ;
        left: 0;
        top: 0;
        right: 0;
        width: 50%;
        padding: 0 5px;
      }
   }
   .filed-form{
    width: 50% !important;
    margin-bottom: 20px;
   }
  section{
    padding: 30px 0;
    &.section-overview-infor{
      padding-top: 0 !important;
    }
  }
  .gird-photo .content-gird-photo .photo-ex-item {
    width: 100%;
    padding: 0 5px;
}
.slide-tour {
  color: white;
  max-width: 100%;
}
.blogs-section h3.lager a {
  font-size: 22px;
}
.slide-tour .close-popup-photo {
  right: 0;
    top: inherit;
    bottom: -70px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 40px;
    }
}
.list-news-home {
  padding-right: 0;
}
.numbers-news {
  position: relative;
  right: 0;
  width: 100%;
  top: 0;
}
.item-news-home {
  position: relative;
  padding-left: 155px;
  padding-right: 0 !important;
}
.item-news-home .avatar-news {
  width: 140px;
  right: initial;
  left: 0;
}
.title-section {
  margin-bottom: 20px;
}
.title-section h2 {
  font-size: 30px;
}
footer .infor-footer .logo-footer img {
  width: 130px;
}
footer .infor-footer .logo-footer {
  position: relative;
  left: 0;
  top: 0;
  width: initial;
  width: 100%;
  text-align: center;
  display: inline-block;
}
footer .infor-footer {
  padding-left: 0;
}
.des-footer, .item-footer{
  margin-bottom: 10px;
  margin-top: 30px;
}
.conetnt-infor-bannerhome{
  p{
    display: -webkit-box;
    -webkit-line-clamp:6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.header-tour-detail {
  position: relative;
  padding-right: 0;
}
footer{
  .col-md-2{
    width: 50%;
  }
}
.social-hotlinne {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer{
  padding-bottom: 130px;
}
.item-newspaper{
  margin-bottom: 30px;
}
.button-link a, .button-link button {
  height: 45px;
  padding: 0 20px;
  text-align: center;
  min-width: 250px;
}
.title-mientaynambo{
  text-align: center;
}
.title-mientaynambo h2::after {
  margin: auto;
  left: 0;
  right: 0;
}
.item-news-home{
  margin-bottom: 20px;
}
.pagging-page ul li a, .pagging-page ul li span {
  margin: 0 4px;
}
.header-tour-detail .col-infor-right {
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  margin-top: 20px;
}
.slide-space img {
  border-radius: 6px;
}
.page-tour-detail{
  padding-top: 0;
}
.box-detail-Tour.noted{
  padding-right: 0 !important;
  margin-bottom: 0 !important;
}
.item-mientay-nambo-avatar{
  position: relative !important; 
  right: 0 !important;
  width: 100% !important;
  margin-top: 20px !important;
}
.item-news-right, .section-pageDetailBlogs{
  .row{
    flex-direction: column-reverse;
  }
}
.banner-ads{
  margin-top: 30px;
}
h1{
  br{
    display: none !important;
  }
}
.content-editor-Blogs{
  margin-top: 0;
  p{
    font-size: 16px;
  }
}
.sticky-box{
  margin-top: 0;
  margin-bottom: 30px;
}
.thong-tin-lien-he{
  flex-wrap: wrap;
}
.section-lien-he{
  padding: 0 !important;
  margin-bottom: 30px;
  .content-hotline{
    margin-bottom: 20px;
  }
}
.section-lien-he .thong-tin-lien-he{
  padding-bottom: 0 !important;
}
.form-here{
  margin-top: 0 !important;
  padding: 0 !important;
  .pr-0, .px-0 {
    padding-right:15px!important;
}
.pl-0, .px-0 {
  padding-left: 15px!important;
}
}
.img-lienhe{
  margin-top: 20px;
}
.form-here .form-lienhe {
  padding: 50px 20px;
}
.table-cart{
  overflow-x: auto;
  table{
    min-width: 600px;
  }
}
.cart-page{
  padding-top: 0 !important;
}
.cart-page input {
  height: 50px;
}
.momo-filed{
  display: flex;
  justify-content: center;
}
.form-lienhe{
  padding-top: 10px !important;
}
}

@media only screen and (max-width: 450px) {
  .menu-PC-MB {
    width: 100%;
  }
}