@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Phudu:wght@700&family=Work+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  text-decoration: none; }

body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0; }

.owl-nav {
  z-index: 9; }
  .owl-nav button {
    outline: none !important;
    border: 0 !important;
    background: none !important; }
    .owl-nav button.owl-next {
      position: absolute;
      height: 100%;
      right: -90px;
      top: 0;
      display: flex;
      align-items: center; }
      .owl-nav button.owl-next span {
        font-size: 50px;
        position: relative; }
        .owl-nav button.owl-next span::after {
          content: '';
          display: inline-block;
          width: 100px;
          height: 100px;
          background: url(../images/next-slide.svg) no-repeat center top; }
    .owl-nav button.owl-prev {
      position: absolute;
      height: 100%;
      left: -90px;
      top: 0;
      display: flex;
      align-items: center; }
      .owl-nav button.owl-prev span {
        font-size: 50px;
        position: relative; }
        .owl-nav button.owl-prev span::after {
          content: '';
          display: inline-block;
          width: 100px;
          height: 100px;
          background: url(../images/prev-slide.svg) no-repeat center top; }

.infor-tour p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden; }

body {
  color: #323436;
  padding: 0;
  margin: 0;
  width: 100%;
  font-weight: 300;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Phudu', cursive; }

.infor-tour {
  padding: 20px; }

section {
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 50px 0; }
  section .section-overview-infor:nth-child(2) .row {
    flex-direction: column-reverse !important; }
  section.gray {
    background: #F7F9FB; }

h2 {
  font-size: 40px; }

.close-menu-PC-MB {
  cursor: pointer;
  position: fixed;
  right: 290px;
  top: 15px; }
  .close-menu-PC-MB img {
    width: 20px; }

.banner-MB {
  display: none; }

.button-link {
  display: inline-block;
  width: 100%; }
  .button-link.right {
    text-align: right; }
  .button-link.center {
    text-align: center; }
  .button-link a, .button-link button {
    height: 55px;
    border-radius: 70px;
    background: #E88F74;
    color: white;
    display: inline-grid;
    align-items: center;
    padding: 0 40px;
    border: 0 !important;
    outline: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600; }
    .button-link a:hover, .button-link button:hover {
      opacity: .9; }
  .button-link.white-bg {
    text-align: center; }
    .button-link.white-bg a {
      background: white !important;
      color: #E88F74 !important; }

.title-section {
  margin-bottom: 50px; }
  .title-section h2 {
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .title-section p {
    font-size: 16px;
    font-weight: normal;
    text-align: center; }
  .title-section.black h2, .title-section.black p {
    color: white; }

.slide-tour {
  color: white;
  max-width: 1000px;
  margin: auto;
  position: relative; }
  .slide-tour .close-popup-photo {
    width: 60px;
    position: absolute;
    top: -25px;
    right: -30px;
    cursor: pointer; }
    .slide-tour .close-popup-photo img {
      width: 100%; }

.box-detail-Tour {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  margin-bottom: 50px; }

.title-news h3 a, .content-title-news h3 a {
  font-family: 'Lora', serif; }

.noted {
  padding-right: 660px; }
  .noted .item-mientay-nambo-avatar {
    position: absolute;
    right: 0;
    top: 25%;
    width: 600px; }
  .noted .box-road-tour {
    margin-top: 20px; }
  .noted h6 {
    color: #E88F74 !important; }
  .noted .box-road-tour::before {
    display: none !important; }
  .noted .box-road-tour .cirle-fill {
    padding-left: 0 !important; }

p {
  font-weight: normal; }

.title-item {
  font-size: 20px;
  margin-bottom: 5px;
  display: inline-block;
  width: 100%;
  font-weight: bold;
  color: #323436; }
  .title-item:hover {
    opacity: .9;
    color: #E88F74; }

.item-tour {
  background: white;
  border-radius: 12px;
  overflow: hidden; }
  .item-tour h6 a {
    color: #323436; }
  .item-tour p {
    color: #5F5F5F; }
  .item-tour .avatar-tour a {
    padding-top: 56% !important; }
  .item-tour .avatar-tour a {
    position: relative;
    padding-top: 52%;
    display: block; }
    .item-tour .avatar-tour a img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }

.pt-0 {
  padding-top: 0 !important; }

.social-hotlinne {
  display: flex; }

.hotline-footer a {
  display: flex;
  align-items: center; }

.social-footer a {
  margin: 0 10px 0 0; }

.hotline-footer {
  margin-left: 15px;
  position: relative;
  opacity: .8;
  padding-left: 45px; }
  .hotline-footer b {
    font-size: 30px;
    color: white;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    margin-top: -11px; }
  .hotline-footer span {
    color: white;
    float: left;
    margin-bottom: -10px;
    width: 100%;
    font-size: 14px;
    font-weight: normal; }
  .hotline-footer img {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px; }

.item-footer h6 {
  color: white;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  text-transform: uppercase; }
.item-footer a {
  color: white;
  display: inline-block;
  font-size: 14px;
  width: 100%;
  opacity: .7;
  margin-top: 10px; }
  .item-footer a:hover {
    opacity: 1;
    color: white !important; }

footer {
  display: inline-block;
  position: relative;
  width: 100%;
  background: #404D56;
  padding: 180px 0 50px 0; }
  footer::before {
    background: url(../images/cloud-bottom.png) no-repeat center top;
    content: '';
    display: inline-block;
    width: 100%;
    position: absolute;
    top: -11px;
    left: 0;
    height: 140px; }
  footer .infor-footer {
    padding-left: 100px; }
    footer .infor-footer p {
      color: white;
      opacity: .8; }
    footer .infor-footer .logo-footer {
      position: absolute;
      left: 0;
      top: 0;
      width: 80px; }
      footer .infor-footer .logo-footer img {
        width: 100%; }

.item-news-home {
  position: relative;
  padding-right: 310px;
  min-height: 180px;
  margin-bottom: 50px;
  display: flex;
  align-items: center; }
  .item-news-home span a {
    color: #5F5F5F !important; }
  .item-news-home .avatar-news {
    position: absolute;
    right: 0;
    border-radius: 12px;
    overflow: hidden;
    width: 280px;
    top: 0; }
    .item-news-home .avatar-news a {
      position: relative;
      padding-top: 52%;
      display: block; }
      .item-news-home .avatar-news a img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        left: 0;
        top: 0; }
    .item-news-home .avatar-news a {
      padding-top: 64% !important; }
  .item-news-home span {
    color: #5F5F5F;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%; }
  .item-news-home p {
    color: #5F5F5F; }

.numbers-news {
  position: absolute;
  right: 0;
  width: 350px;
  top: 0; }
  .numbers-news ul {
    padding-left: 0; }
    .numbers-news ul li {
      list-style: none;
      margin-bottom: 15px; }
      .numbers-news ul li .itemnewsNumbers {
        display: inline-block;
        width: 100%;
        position: relative;
        padding-left: 60px; }
        .numbers-news ul li .itemnewsNumbers span {
          position: absolute;
          left: 0;
          top: 0;
          font-size: 40px;
          color: #E88F74; }
        .numbers-news ul li .itemnewsNumbers label {
          color: #5F5F5F; }
          .numbers-news ul li .itemnewsNumbers label a {
            color: #5F5F5F !important; }

.gird-photo {
  display: inline-block;
  width: 100%; }
  .gird-photo .content-gird-photo {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-bottom: 20px;
    margin-right: -5px;
    display: flex; }
    .gird-photo .content-gird-photo .photo-ex-item {
      width: 33.3333%;
      padding: 0 5px; }

.list-news-home {
  position: relative;
  padding-right: 420px; }

.tour-section {
  float: left;
  width: 100%;
  background: #404D56;
  padding-top: 0 !important; }
  .tour-section .title-section {
    padding-top: 50px; }
  .tour-section::before {
    background: url(../images/cloud-bottom.png) no-repeat top;
    height: 140px;
    width: 100%;
    display: inline-block;
    content: ''; }
  .tour-section .button-link a {
    height: 45px; }

.form-homepage {
  float: left;
  width: 100%;
  position: relative;
  background: #E88F74;
  padding: 40px 0;
  padding-bottom: 140px; }
  .form-homepage::after {
    background: url(../images/cloud.png) no-repeat top;
    height: 186px;
    width: 100%;
    display: inline-block;
    position: absolute;
    bottom: -2px;
    left: 0;
    content: ''; }
  .form-homepage h4 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 300; }
  .form-homepage form {
    max-width: 750px;
    margin: auto;
    z-index: 1;
    padding-right: 155px;
    position: relative;
    display: flex; }
    .form-homepage form .filed-form {
      width: 33.3333%;
      padding: 0 5px;
      display: inline-block; }
      .form-homepage form .filed-form input {
        height: 50px;
        border-radius: 12px;
        border: 0;
        padding: 5px 15px;
        width: 100%;
        background: white; }
        .form-homepage form .filed-form input::placeholder {
          color: #323436 !important; }
    .form-homepage form .button-action-form {
      position: absolute;
      right: 0;
      width: 150px; }
      .form-homepage form .button-action-form button {
        height: 50px;
        background: none;
        border: 1px solid white;
        text-transform: uppercase;
        font-weight: 700;
        color: white;
        width: 100%;
        border-radius: 12px; }

.banner-slide {
  position: relative;
  display: inline-block;
  width: 100%;
  background: black; }
  .banner-slide img {
    width: 100%;
    opacity: .8; }
  .banner-slide .infor-banner-home {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 170px;
    top: 0; }
    .banner-slide .infor-banner-home h6 {
      color: white;
      font-weight: bold;
      display: inline-block;
      width: 100%;
      margin-bottom: 0;
      position: relative;
      font-size: 44px; }
      .banner-slide .infor-banner-home h6::after {
        display: block;
        background: url(../images/brush-green.svg) no-repeat;
        height: 60px;
        width: 200px;
        background-size: contain;
        content: '';
        margin: auto; }
    .banner-slide .infor-banner-home h1 {
      font-size: 70px;
      font-weight: bold;
      color: white; }
    .banner-slide .infor-banner-home p {
      font-size: 20px;
      color: white; }
  .banner-slide::after {
    position: absolute;
    bottom: -4px;
    content: '';
    display: inline-block;
    height: 193px;
    width: 100%;
    left: 0;
    background: url(../images/cloud.png) no-repeat bottom; }

.box-road-tour {
  position: relative;
  display: inline-block;
  width: 100%; }
  .box-road-tour::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 11px;
    top: 29px;
    width: 1px;
    height: 100%;
    border: 1px dashed #C1C1C1; }
  .box-road-tour .item-note {
    padding-left: 30px; }
    .box-road-tour .item-note label {
      font-size: 16px;
      margin-bottom: 15px; }
      .box-road-tour .item-note label::before {
        top: 6px !important; }

.title-roadTour {
  position: relative;
  display: flex;
  margin-bottom: 30px;
  margin-top: 20px; }
  .title-roadTour img {
    width: 23px; }
  .title-roadTour span {
    font-weight: 700;
    font-size: 16px;
    margin-left: 10px;
    text-transform: uppercase; }

.tour-sider-DetailPage .owl-nav button.owl-prev span::after {
  background: url(../images/prev-black-slide.svg) no-repeat center top; }
.tour-sider-DetailPage .owl-nav button.owl-next span::after {
  background: url(../images/next-black-slide.svg) no-repeat center top; }
.tour-sider-DetailPage .item-tour {
  border: 1px solid #d9d9d9;
  margin-bottom: 50px; }

.pt-0 {
  padding-top: 0 !important; }

.blogs-page {
  padding-top: 0 !important; }

.banner-ads {
  border-radius: 12px;
  overflow: hidden; }
  .banner-ads img {
    width: 100%; }

.blogs-section.list-ktdd h3 a {
  font-weight: 700; }
.blogs-section.gray {
  padding-bottom: 15px !important; }
  .blogs-section.gray h3 a {
    font-weight: normal; }
.blogs-section h3.lager a {
  font-size: 32px;
  font-weight: 700; }
.blogs-section h3 a {
  font-size: 18px;
  font-weight: normal;
  color: #323436; }

.avatar-news {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  border-radius: 12px; }
  .avatar-news a {
    position: relative;
    padding-top: 56%;
    display: block; }
    .avatar-news a img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }

.box-news {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px; }

.item-news-right {
  display: inline-block;
  width: 100%;
  margin-bottom: 25px; }

.tab-blogs-page {
  justify-content: center;
  width: 100%;
  background: white;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  padding: 15px 0;
  padding-bottom: 0 !important;
  overflow: auto;
  text-align: center; }
  .tab-blogs-page a {
    text-transform: uppercase;
    color: #5F5F5F;
    margin: 0 20px;
    padding-bottom: 20px;
    font-weight: 700;
    position: relative; }
    .tab-blogs-page a::after {
      height: 2px;
      width: 100%;
      display: inline-block;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0; }
    .tab-blogs-page a.active {
      color: #E88F74 !important; }
      .tab-blogs-page a.active::after {
        background: #E88F74; }

.cart-page {
  padding-top: 20px; }
  .cart-page input {
    border-radius: 8px; }
  .cart-page .checkbox-status {
    margin: 10px 0 0 0;
    float: left; }
    .cart-page .checkbox-status label::before {
      border: 1px solid #d9d9d9; }
    .cart-page .checkbox-status label span {
      margin-top: 3px;
      float: right;
      color: #d9d9d9;
      position: relative; }
      .cart-page .checkbox-status label span::before {
        position: absolute;
        left: -12px;
        top: 6px;
        width: 8px;
        height: 8px;
        content: '';
        display: block;
        border-radius: 50%;
        background: #76BA69; }
      .cart-page .checkbox-status label span .styled-checkbox:checked + label:before {
        background: #fff;
        border: 1px solid #d9d9d9 !important; }
      .cart-page .checkbox-status label span.occupied {
        color: #d9d9d9; }
        .cart-page .checkbox-status label span.occupied::before {
          background: #d9d9d9; }
        .cart-page .checkbox-status label span.occupied .styled-checkbox:checked + label:before {
          background: #fff;
          border: 1px solid #d9d9d9 !important; }
      .cart-page .checkbox-status label span.reserved {
        color: #E88F74; }
        .cart-page .checkbox-status label span.reserved::before {
          background: #E88F74; }
        .cart-page .checkbox-status label span.reserved .styled-checkbox:checked + label:before {
          background: #fff;
          border: 1px solid #E88F74 !important; }
    .cart-page .checkbox-status .styled-checkbox {
      position: absolute;
      opacity: 0; }
      .cart-page .checkbox-status .styled-checkbox + label {
        position: relative;
        cursor: pointer;
        padding: 0; }
      .cart-page .checkbox-status .styled-checkbox + label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 20px;
        border-radius: 4px;
        height: 20px;
        margin-top: 2px; }
      .cart-page .checkbox-status .styled-checkbox:checked + label:before {
        background: #fff;
        border: 1px solid #E88F74; }
      .cart-page .checkbox-status .styled-checkbox:disabled + label {
        color: #b8b8b8;
        cursor: auto; }
      .cart-page .checkbox-status .styled-checkbox:disabled + label:before {
        box-shadow: none;
        background: #fff; }
      .cart-page .checkbox-status .styled-checkbox:checked + label:after {
        content: '';
        display: block;
        position: absolute;
        top: 4px;
        left: 7px;
        width: 6px;
        color: #E88F74;
        background: white;
        height: 13px;
        box-shadow: none !important;
        border: solid;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg); }
    .cart-page .checkbox-status .available span {
      color: #d9d9d9; }
      .cart-page .checkbox-status .available span::before {
        background: #d9d9d9; }
    .cart-page .checkbox-status .available .styled-checkbox:hover + label:before {
      background: #fff;
      border: 1px solid #d9d9d9; }
    .cart-page .checkbox-status .available .styled-checkbox:checked + label:before {
      background: #fff;
      border: 1px solid #d9d9d9; }
    .cart-page .checkbox-status .available .styled-checkbox:disabled + label {
      color: #b8b8b8;
      cursor: auto; }
    .cart-page .checkbox-status .available .styled-checkbox:disabled + label:before {
      box-shadow: none;
      background: #fff; }
    .cart-page .checkbox-status .available .styled-checkbox:checked + label:after {
      content: '';
      display: block;
      position: absolute;
      top: 3px;
      left: 8px;
      width: 6px;
      background: white;
      color: #404D56;
      height: 14px;
      box-shadow: none !important;
      border: solid #b8b8b8;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg); }

.exportVat {
  display: inline-block;
  width: 100%;
  margin: 15px 0;
  background: white;
  border: 1px solid #E88F74;
  box-shadow: 0px 8px 32px rgba(129, 129, 129, 0.1);
  border-radius: 12px;
  padding: 30px; }

.momo-filed {
  margin-top: 20px; }
  .momo-filed img {
    width: 30px;
    margin: 0 5px; }

.form-cart {
  margin-top: 20px;
  display: inline-block;
  width: 100%; }
  .form-cart h6 {
    text-transform: uppercase;
    margin-bottom: 20px; }

.content-cart {
  background: #FFFFFF;
  padding: 30px;
  box-shadow: 0px 8px 32px rgba(129, 129, 129, 0.1);
  border-radius: 12px;
  display: block;
  max-width: 800px;
  margin: auto;
  width: 100%; }
  .content-cart table {
    margin-bottom: 0; }
    .content-cart table thead th {
      text-transform: uppercase;
      font-size: 13px;
      text-align: left; }
      .content-cart table thead th.right {
        text-align: right; }
      .content-cart table thead th.center {
        text-align: center; }
    .content-cart table tr td {
      vertical-align: inherit; }
      .content-cart table tr td.right {
        text-align: right; }
      .content-cart table tr td.center {
        text-align: center; }
      .content-cart table tr td input, .content-cart table tr td span {
        display: inline-block;
        width: 100%;
        text-align: center; }
      .content-cart table tr td span {
        font-size: 12px;
        color: #5F5F5F; }
      .content-cart table tr td input {
        border: 1px solid #EBEBEB;
        height: 40px;
        border-radius: 12px;
        font-size: 20px;
        text-align: center;
        font-weight: 300; }
    .content-cart table img {
      width: 100px; }
    .content-cart table thead {
      border: 0;
      border-bottom: 1px solid #EBEBEB; }
      .content-cart table thead th {
        border: 0;
        border-bottom: 0; }
    .content-cart table td {
      border: 0 !important; }

.infor-price {
  text-align: right;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  padding-top: 15px;
  padding-bottom: 15px; }
  .infor-price span {
    text-transform: uppercase;
    font-weight: 300;
    color: #5F5F5F; }
  .infor-price b {
    font-size: 24px;
    font-weight: 700;
    color: #E88F74; }

.item-mientay-nambo-avatar a {
  position: relative;
  padding-top: 52%;
  display: block; }
  .item-mientay-nambo-avatar a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }

.tour-sider-DetailPage {
  background: none !important; }
  .tour-sider-DetailPage::before {
    display: none; }

.infor-detailTour-page {
  background: #F7F9FB;
  float: left;
  width: 100%; }

.btn-bookoing-deTail {
  width: 167px !important;
  padding: 0;
  background: #E88F74;
  display: flex;
  border: 0 !important;
  align-items: center;
  justify-content: center; }
  .btn-bookoing-deTail a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .btn-bookoing-deTail a span {
      color: white !important;
      font-size: 16px !important;
      text-transform: uppercase;
      font-weight: 700;
      width: initial !important; }
    .btn-bookoing-deTail a img {
      margin-left: 3px;
      width: 25px; }

.page-tourlist .item-tour {
  border: 1px solid #d9d9d9;
  margin-bottom: 50px; }

.header-tour-detail {
  position: relative;
  padding-right: 380px; }
  .header-tour-detail .col-infor-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 340px; }

.box-infor-price {
  padding: 5px 20px;
  border: 1px solid #EBEBEB;
  display: inline-block;
  width: 100%;
  border-radius: 12px; }

.price {
  display: inline-block;
  width: 100%; }
  .price b {
    color: #E88F74;
    font-weight: 700;
    font-size: 36px; }
  .price span {
    font-size: 20px;
    color: #323436;
    font-weight: 700; }
  .price p {
    display: inline-block;
    width: 100%;
    color: #E88F74;
    font-size: 14px; }

.item-note {
  display: inline-block;
  width: 100%; }
  .item-note label {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    padding-left: 20px;
    position: relative; }
    .item-note label::before {
      content: '';
      position: absolute;
      left: 0;
      top: 3px;
      display: inline-block;
      width: 15px;
      height: 15px;
      background: url(../images/check.svg) no-repeat;
      background-size: contain; }

.amount-box {
  display: inline-block;
  width: 100%;
  margin-top: 15px; }
  .amount-box b {
    font-size: 16px;
    text-transform: uppercase;
    color: #323436;
    font-weight: 700;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%; }
  .amount-box .box-flex-adults {
    display: flex; }
  .amount-box .box-Adults {
    padding: 0 5px; }
    .amount-box .box-Adults:nth-child(1) {
      padding-left: 0; }
    .amount-box .box-Adults:nth-last-child(1) {
      padding-right: 0; }
    .amount-box .box-Adults .content-adults {
      height: 73px;
      border: 1px solid #5F5F5F;
      border-radius: 12px;
      width: 76px;
      padding: 0 5px; }
      .amount-box .box-Adults .content-adults input {
        font-size: 34px;
        text-align: center;
        color: #323436;
        border: 0;
        background: none;
        display: inline-block;
        width: 100%;
        height: 43px; }
      .amount-box .box-Adults .content-adults span {
        font-size: 10px;
        display: inline-block;
        width: 100%;
        color: #5F5F5F;
        text-align: center; }

.infor-head-detail_Tour ul {
  padding: 0;
  margin: 0; }
  .infor-head-detail_Tour ul li {
    position: relative;
    padding-left: 60px;
    list-style: none;
    border-bottom: 1px solid #EBEBEB;
    padding-bottom: 7px;
    margin-bottom: 3px; }
    .infor-head-detail_Tour ul li:nth-last-child(1) {
      border: 0; }
    .infor-head-detail_Tour ul li img {
      width: 43px;
      position: absolute;
      left: 0;
      top: 3px; }
    .infor-head-detail_Tour ul li span {
      text-transform: uppercase;
      color: #5F5F5F;
      font-size: 12px; }
    .infor-head-detail_Tour ul li b {
      font-weight: 700;
      display: inline-block;
      width: 100%;
      color: #323436;
      font-size: 16px; }

/*-- slider space--*/
.slide-space img {
  border-radius: 12px; }
.slide-space .owl-dots {
  display: none; }
.slide-space svg {
  height: 50px; }
  .slide-space svg path {
    stroke: white !important; }

.app-homework-section {
  margin-top: -100px;
  position: relative; }
  .app-homework-section .space-school-content {
    height: 546px; }

#sync1 .item {
  color: #FFF; }

#sync2 {
  display: flex;
  justify-content: center; }
  #sync2 .item {
    margin: 3px;
    color: #FFF;
    text-align: center;
    opacity: .6;
    cursor: pointer; }
  #sync2 .owl-nav, #sync2 .owl-dots {
    display: none; }

.owl-carousel {
  z-index: 0; }

.owl-item.active.current .item {
  opacity: 1 !important; }

.owl-theme .owl-nav {
  /*default owl-theme theme reset .disabled:hover links */ }
  .owl-theme .owl-nav [class*='owl-'] {
    transition: all .3s ease; }
    .owl-theme .owl-nav [class*='owl-'].disabled:hover {
      background-color: #D6D6D6; }

#sync1.owl-theme {
  position: relative; }
  #sync1.owl-theme .owl-next, #sync1.owl-theme .owl-prev {
    width: 40px;
    background: rgba(255, 255, 255, 0.7);
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    padding: 10px !important;
    display: inline-block;
    border-radius: 50%; }
    #sync1.owl-theme .owl-next svg, #sync1.owl-theme .owl-prev svg {
      opacity: .6; }
  #sync1.owl-theme .owl-prev {
    left: 10px; }
  #sync1.owl-theme .owl-next {
    right: 10px; }

.pagging-page {
  width: 100%; }
  .pagging-page .pagination {
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0; }
  .pagging-page ul li a,
  .pagging-page ul li span {
    width: 32px;
    height: 32px;
    margin: 0 10px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    color: #323436;
    padding: 5px; }
    .pagging-page ul li a.active,
    .pagging-page ul li span.active {
      border: 1px solid #E88F74 !important;
      color: #E88F74;
      background-color: white;
      padding-top: 5px;
      border-radius: 4px; }
  .pagging-page ul li:hover a {
    color: #E88F74; }

.sumary-blogs-detail ul {
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 15px !important; }
  .sumary-blogs-detail ul li {
    padding: 5px 0; }
    .sumary-blogs-detail ul li a {
      color: #323436; }
      .sumary-blogs-detail ul li a:hover {
        color: #E88F74; }
    .sumary-blogs-detail ul li::marker {
      opacity: .3; }

.sticky-box {
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
  top: 78px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
  margin-top: 50px;
  border-radius: 8px; }

.content-editor-Blogs {
  margin-top: 48px; }
  .content-editor-Blogs img {
    margin: 15px 0;
    max-width: 100%;
    border-radius: 12px; }
  .content-editor-Blogs p {
    font-size: 16px; }

/* --------------------------- Liên hệ------------------------------- */
.section-lien-he {
  background: url(../images/bg-lienhe.svg) center top no-repeat; }
  .section-lien-he .title-section {
    text-align: left; }
    .section-lien-he .title-section a {
      color: white; }
  .section-lien-he .breadcrumbs a,
  .section-lien-he .breadcrumbs i {
    color: white; }
  .section-lien-he .thong-tin-lien-he {
    display: flex;
    justify-content: space-between;
    padding: 0 0 10px 0;
    padding-bottom: 65px; }
    .section-lien-he .thong-tin-lien-he .content-hotline {
      display: flex;
      color: #5F5F5F;
      align-items: center; }
      .section-lien-he .thong-tin-lien-he .content-hotline .icon-phone-footer {
        margin-right: 15px; }
    .section-lien-he .thong-tin-lien-he .hotline {
      float: left; }
      .section-lien-he .thong-tin-lien-he .hotline span {
        display: inline-block;
        width: 100%;
        font-size: 12px;
        color: #5F5F5F; }
      .section-lien-he .thong-tin-lien-he .hotline a {
        display: inline-block;
        width: 100%;
        font-size: 16px !important;
        font-weight: 600 !important;
        color: #E88F74;
        line-height: 20px; }

.section-lien-he {
  position: relative;
  z-index: 1;
  padding: 30px; }

.form-here {
  z-index: 5;
  position: relative;
  margin-top: -109px;
  bottom: 0;
  padding-bottom: 100px; }
  .form-here .form-lienhe {
    background: #FFFFFF;
    box-shadow: 0px 8px 32px rgba(129, 129, 129, 0.1);
    border-radius: 8px;
    padding: 50px;
    position: relative; }
    .form-here .form-lienhe input {
      background: #EDEDED;
      border-radius: 6px;
      height: 51px;
      border: 1px solid white; }
      .form-here .form-lienhe input:focus {
        background: white;
        border: 1px solid #d9d9d9; }
    .form-here .form-lienhe p {
      color: #686868; }
    .form-here .form-lienhe .tiltle-form {
      font-size: 28px;
      text-transform: inherit;
      font-weight: 800; }
    .form-here .form-lienhe label span {
      color: #F42C00; }
    .form-here .form-lienhe textarea {
      background-color: #EDEDED;
      border: 1px solid white;
      height: 120px;
      border-radius: 6px; }
      .form-here .form-lienhe textarea:focus {
        background: white;
        border: 1px solid #d9d9d9; }
  .form-here .img-lienhe {
    z-index: -1;
    position: relative; }
    .form-here .img-lienhe a {
      position: relative;
      padding-top: 107%;
      display: block;
      box-shadow: 0px 8px 32px rgba(129, 129, 129, 0.1);
      border-radius: 8px;
      overflow: hidden; }
      .form-here .img-lienhe a img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        left: 0;
        top: 0; }

.booking-btn {
  display: none; }

.section-404 {
  text-align: center; }
  .section-404 h2 {
    font-size: 135px;
    font-weight: 900;
    color: #E88F74; }
  .section-404 p {
    font-size: 22px;
    margin-bottom: 30px;
    color: #283646;
    font-weight: normal; }

.conetnt-infor-bannerhome {
  max-width: 75%; }
  .conetnt-infor-bannerhome h6 {
    text-shadow: 0px 5px 12px rgba(0, 0, 0, 0.65);
    font-family: 'Lora', serif; }
  .conetnt-infor-bannerhome p {
    margin: auto;
    text-shadow: 0px 5px 12px rgba(0, 0, 0, 0.65);
    margin-bottom: 15px; }
    .conetnt-infor-bannerhome p br {
      display: none; }
  .conetnt-infor-bannerhome h1 {
    text-transform: uppercase;
    text-shadow: 0px 5px 12px rgba(0, 0, 0, 0.65); }

.booking-btn {
  position: fixed;
  bottom: 10px;
  right: 5px; }
  .booking-btn img {
    width: 120px; }

.newspaper-section .row {
  justify-content: center; }

.avatar-newspaper a {
  position: relative;
  padding-top: 52%;
  display: block; }
  .avatar-newspaper a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }
.avatar-newspaper a {
  padding-top: 50% !important; }

.item-newspaper {
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.09);
  border-radius: 12px;
  overflow: hidden; }
  .item-newspaper p {
    padding: 30px;
    margin-bottom: 0; }

.publisher-newspaper {
  display: flex;
  padding: 0 30px;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center; }
  .publisher-newspaper img {
    width: 45px; }
  .publisher-newspaper span {
    font-weight: 300;
    color: #5F5F5F;
    margin-left: 5px; }

.menu-PC-MB {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 330px;
  background: white;
  height: 100%;
  padding: 30px;
  z-index: 99;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); }
  .menu-PC-MB.active {
    display: inline-block !important; }
  .menu-PC-MB .logo-pc-mb {
    margin-bottom: 30px; }

.value-content .row {
  margin-left: -30px;
  margin-right: -30px; }
  .value-content .row .col-md-6 {
    padding: 0 30px; }
.value-content .item-value {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 115px; }
  .value-content .item-value p {
    color: #5F5F5F; }
  .value-content .item-value .icon-value {
    width: 85px;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0; }
    .value-content .item-value .icon-value img {
      width: 100%; }

.title-detailTour h3 {
  text-transform: uppercase;
  color: #323436 !important;
  position: relative; }
  .title-detailTour h3::after {
    background: url(../images/bursh-small.svg) no-repeat center;
    height: 55px;
    background-size: contain;
    content: '';
    display: block;
    width: 185px;
    margin-top: -30px; }

.brush-title h2 {
  color: #323436 !important;
  position: relative; }
  .brush-title h2::after {
    background: url(../images/bursh-orange.svg) no-repeat center;
    height: 55px;
    margin: auto;
    background-size: contain;
    content: '';
    display: block;
    width: 100%;
    margin-top: -30px; }

.title-mientaynambo strong {
  color: #E88F74;
  font-size: 22px;
  font-weight: 700; }
.title-mientaynambo b {
  font-family: 'Lora', serif;
  font-size: 40px;
  color: #7AAF7E; }
.title-mientaynambo p {
  color: #5F5F5F; }
.title-mientaynambo h2 {
  text-transform: uppercase;
  color: #404D56;
  font-weight: bold;
  position: relative; }
  .title-mientaynambo h2::after {
    display: block;
    background: url(../images/brush-green.svg) no-repeat;
    height: 60px;
    width: 100px;
    background-size: contain;
    content: '';
    position: absolute;
    top: -14px; }

.menu-btn {
  display: flex; }
  .menu-btn .button-action a {
    border-radius: 0;
    padding: 0 15px; }
  .menu-btn .action-menu-header {
    margin-top: 0; }
  .menu-btn nav {
    display: flex;
    align-items: center; }
    .menu-btn nav ul {
      display: flex;
      margin-bottom: 0; }
      .menu-btn nav ul li {
        list-style: none;
        height: 50px;
        display: flex;
        align-items: center;
        position: relative; }
        .menu-btn nav ul li a {
          color: white;
          font-size: 16px;
          padding: 0px 15px; }
        .menu-btn nav ul li ul {
          display: inline-block;
          position: absolute;
          left: 0;
          top: 50px;
          background: white;
          border-radius: 8px;
          width: 300px;
          padding: 10px 15px;
          opacity: 0;
          visibility: hidden;
          box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.09); }
          .menu-btn nav ul li ul li a {
            color: #323436;
            display: inline-block;
            width: 100%;
            padding: 10px 15px;
            border-radius: 8px; }
            .menu-btn nav ul li ul li a:hover {
              background: #F3F6FE; }
        .menu-btn nav ul li button.sub-menu-toggle {
          display: none; }
        .menu-btn nav ul li:hover ul {
          opacity: 1;
          visibility: initial !important; }
          .menu-btn nav ul li:hover ul li:hover a {
            color: #E88F74; }

.scroll-header {
  display: flex;
  z-index: 1;
  justify-content: space-between; }

.menu-hambuger {
  margin: 10px 0 0 40px;
  cursor: pointer; }

.default-header {
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  width: 100%; }

.scroll-header {
  display: flex;
  padding-left: 10px;
  width: 100%;
  background: #404D56; }
  .scroll-header .logo-pc-mb {
    display: flex;
    align-items: center;
    height: 100%; }
    .scroll-header .logo-pc-mb img {
      height: 35px; }

header {
  padding: 0px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 9; }
  header.scroll-to-top .default-header {
    display: none !important; }
  header.scroll-to-top .scroll-header {
    display: inherit !important; }

.action-menu-header {
  margin-top: 15px;
  display: flex; }
  .action-menu-header a {
    height: 50px;
    border-radius: 70px;
    background: #E88F74;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600; }
    .action-menu-header a img {
      margin-left: 10px; }
    .action-menu-header a:hover {
      opacity: .9; }

.current-menu-item > a {
  color: #E88F74 !important; }

.cotent-tabBlogs {
  display: inline-flex;
  width: max-content; }

.menu-nav {
  text-align: center; }
  .menu-nav ul.active li button span.icon-plus {
    display: none !important; }
  .menu-nav ul.active li button span.icon-minus {
    display: block !important; }
  .menu-nav ul.active li ul {
    display: inline-block !important;
    position: relative;
    top: 0;
    width: 100%;
    left: 0;
    background: white;
    border-radius: 8px;
    padding: 7px 10px; }
  .menu-nav ul li a {
    font-weight: 700;
    font-size: 18px !important;
    padding: 10px 0 !important;
    display: inline-block;
    color: #323436; }
  .menu-nav ul li ul li a {
    font-weight: 300;
    color: #5F5F5F; }
  .menu-nav ul li button {
    position: absolute;
    right: 0;
    outline: none;
    top: 14px;
    border: 0;
    background: none; }
    .menu-nav ul li button span {
      color: #5F5F5F; }
    .menu-nav ul li button svg {
      width: 30px;
      height: 30px; }
    .menu-nav ul li button span {
      font-size: 20px; }
      .menu-nav ul li button span.icon-minus {
        display: none; }
      .menu-nav ul li button span.screen-reader-text {
        display: none; }
  .menu-nav ul li ul {
    display: none; }

.breadcrumbs i:before {
  font-size: 8px; }

a:hover {
  text-decoration: none; }

.container {
  max-width: 1200px; }

.content-head .menu nav > ul > li.submenu > ul {
  justify-content: center;
  margin-bottom: 0;
  display: inherit !important; }

.menu nav ul > li > a::before {
  content: "\e64b";
  display: inline-block;
  font-family: 'themify';
  font-size: 9px;
  font-weight: 100;
  position: absolute;
  right: 0;
  top: 14px; }
.menu nav ul > li > a::before:last-child(1) {
  display: none; }

.action-menu-header {
  display: flex; }

.menu-nav {
  position: relative; }
  .menu-nav nav ul {
    padding: 0; }
    .menu-nav nav ul li {
      position: relative;
      list-style: none;
      padding: 5px 0; }
      .menu-nav nav ul li::marker {
        display: none !important; }
      .menu-nav nav ul li i {
        display: none; }
      .menu-nav nav ul li a {
        padding: 0 20px;
        position: relative;
        font-size: 14px; }
      .menu-nav nav ul li ul {
        position: absolute;
        top: 40px;
        padding: 15px 0;
        width: 200px;
        left: 0;
        background: white;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        padding: 0 8px; }
        .menu-nav nav ul li ul::marker {
          display: none; }
        .menu-nav nav ul li ul li {
          transition: all 0.3s linear; }
          .menu-nav nav ul li ul li:last-child {
            border-bottom: 0; }
          .menu-nav nav ul li ul li a {
            display: inline-block;
            width: 100%;
            font-weight: normal;
            padding: 10px 15px;
            border-radius: 8px; }
            .menu-nav nav ul li ul li a:hover {
              background: #F3F6FE; }
            .menu-nav nav ul li ul li a::before {
              display: none; }
            .menu-nav nav ul li ul li a:hover {
              color: #E88F74; }
      .menu-nav nav ul li:hover ul {
        opacity: 1;
        visibility: initial; }
      .menu-nav nav ul li.active a {
        color: #323436; }
      .menu-nav nav ul li.active ul li a {
        color: #323436; }
        .menu-nav nav ul li.active ul li a:hover, .menu-nav nav ul li.active ul li a.active {
          color: #E88F74 !important; }

/* -------Sticky menu srcoll----- */
.menu-scroll {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999; }
  .menu-scroll nav {
    padding: 0 !important; }

.no-sub a::after, .no-sub a::before {
  display: none !important; }

.section-why-join-page {
  border: none !important; }

.menu nav ul > li > a:nth-last-child(1)::before {
  display: none; }

.item-photo-slide {
  background: white;
  padding: 10px;
  border-radius: 12px;
  overflow: hidden; }
  .item-photo-slide img {
    max-width: 100%;
    width: initial !important;
    margin: auto;
    max-height: 100vh;
    border-radius: 8px;
    overflow: hidden; }

.photo-popup {
  position: fixed;
  overflow: hidden;
  display: flex;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  visibility: hidden;
  opacity: 0; }
  .photo-popup.active {
    opacity: 1;
    visibility: inherit; }

.photoPage {
  padding-top: 0 !important; }

.photo-ex-item a {
  position: relative;
  padding-top: 52%;
  display: block; }
  .photo-ex-item a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }
.photo-ex-item a {
  margin-bottom: 10px;
  border-radius: 12px;
  padding-top: 57% !important;
  overflow: hidden; }
.photo-ex-item:nth-child(2) a, .photo-ex-item:nth-child(4) a {
  padding-top: 117% !important; }

/*# sourceMappingURL=style.css.map */
