
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Phudu:wght@700&family=Work+Sans&display=swap');
$text: #323436;
$text-alpha: #5F5F5F;
$border: #d9d9d9;
$green:#7AAF7E;
$ogran:#E88F74;
$brand2:#404D56;
body{
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}
.owl-nav{
  z-index: 9;
  button{
    outline: none !important;
    border: 0 !important;
    background: none !important;
    &.owl-next{
      position: absolute;
      height: 100%;
      right: -90px;
      top: 0;
      display: flex;
      align-items: center;
      span{
        font-size: 50px;
        position: relative;
        &::after{
          content: '';
          display: inline-block;
          width: 100px;
          height: 100px;
          background: url(../images/next-slide.svg) no-repeat center top;
        }
      }
    }
    &.owl-prev{
      position: absolute;
      height: 100%;
      left: -90px;
      top: 0;
      display: flex;
      align-items: center;
      span{
        font-size: 50px;
        position: relative;
        &::after{
          content: '';
          display: inline-block;
          width: 100px;
          height: 100px;
          background: url(../images/prev-slide.svg) no-repeat center top;
        }
      }
    }
  }
}
.infor-tour{
  p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
body{
  color: $text;
  padding: 0;
  margin: 0;
  width: 100%;
  font-weight: 300;
  font-size: 16px;
  
}
h1, h2, h3, h4, h5,h6{
  font-weight: 700;
  font-family: 'Phudu', cursive;
}

.infor-tour{
  padding: 20px;
}
section{
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 50px 0;
  .section-overview-infor{
    &:nth-child(2){
      .row{
        flex-direction: column-reverse !important;
      }
    }
  }
  &.gray{
    background: #F7F9FB;
  }
}
h2{
  font-size: 40px;
}
.close-menu-PC-MB{
  cursor: pointer;
  position: fixed;
  right: 290px;
  top: 15px;
  img{
    width: 20px;
  }
}
.banner-MB{
  display: none;
}
.button-link{
  display: inline-block;
  width: 100%;
  &.right{
    text-align: right;
  }
  &.center{
    text-align: center;
  }
  a, button{
    height: 55px;
    border-radius: 70px;
    background: $ogran;
    color: white;
    display:inline-grid;
    align-items: center;
    padding: 0 40px;
    border: 0 !important;
    outline: none;
    font-size: 16px;
    text-transform: uppercase;
    
    font-weight: 600;
    &:hover{
      opacity: .9;
    }
  }
  &.white-bg{
  text-align: center;
    a{
      background: white !important;
      color: $ogran !important;
    }
  }
}
.title-section{
  margin-bottom: 50px;
  h2{
    
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  p{
    font-size: 16px;
    font-weight: normal;
    text-align: center;
  }
  &.black{
    h2, p{
      color: white;
    }
  }
}
.slide-tour{
  color: white;
  max-width: 1000px;
  margin: auto;
  position: relative;
  .close-popup-photo{
    width: 60px;
    position: absolute;
    top: -25px;
    right: -30px;
    cursor: pointer;
    img{
      width: 100%;
    }
  }
}
@mixin avatar {
  a{
    position: relative;
    padding-top: 52%;
    display: block;
    img{
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0;
    }
  }
}
.box-detail-Tour{
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
}
.title-news, .content-title-news{
  h3{
    a{
      font-family: 'Lora', serif;
    }
  }
}
.noted{
  padding-right: 660px;
  .item-mientay-nambo-avatar{
    position: absolute;
    right: 0;
    top: 25%;
    width: 600px;
  }
  .box-road-tour{
    margin-top: 20px;
  }
  h6{
    color: $ogran !important;
  }
  .box-road-tour{
    &::before{
      display: none !important;
      
    }
    .cirle-fill{
      
      padding-left: 0 !important;
    }
  }
  
}
p{
  font-weight: normal;
}
.title-item{
  font-size: 20px;
  margin-bottom: 5px;
  display: inline-block;
  width: 100%;
  font-weight: bold;
  color: $text;
  &:hover{
    opacity: .9;
    color: $ogran;
  }
}
.item-tour{
  background: white;
  border-radius: 12px;
  overflow: hidden;
  h6{
    a{
      color: $text;
    }
  }
  p{
    color: $text-alpha;
  }
  .avatar-tour{
    a{
      padding-top: 56% !important;
    }
    @include avatar();
  }
}
.pt-0{
  padding-top: 0 !important;
}
.social-hotlinne{
  display: flex;
}
.hotline-footer{
  a{
    display: flex;
    align-items: center;
  }
}
.social-footer{
  a{
    margin: 0 10px 0 0;
  }
}
.hotline-footer{
  margin-left: 15px;
  position: relative;
  opacity: .8;
  padding-left:45px;
  b{
    font-size: 30px;
    color: white;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    margin-top: -11px;
  }
  span{
    color: white;
    float: left;
    margin-bottom: -10px;
   width: 100%;
   font-size: 14px;
   font-weight: normal;
  }
  img{
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
  }
}
.item-footer{
  h6{
    color: white;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
  }
  a{
    color: white;
    display: inline-block;
    font-size: 14px;
    width: 100%;
    opacity: .7;
    margin-top: 10px;
    &:hover{
      opacity: 1;
      color: white !important;
    }
  }
}
footer{
  display: inline-block;
  position: relative;
  width: 100%;
  background: $brand2;
  padding: 180px 0 50px 0;
  &::before{
    background: url(../images/cloud-bottom.png) no-repeat center top;
    content: '';
    display: inline-block;
    width: 100%;
    position: absolute;
    top: -11px;
    left: 0;
    height: 140px;
  }
  .infor-footer{
    padding-left: 100px;
    p{
      color: white;
      opacity: .8;
    }
    .logo-footer{
      position: absolute;
      left: 0;
      top: 0;
      width: 80px;
      img{
        width: 100%;
      }
    }
  }
}
.item-news-home{
  position: relative;
  padding-right: 310px;
  min-height: 180px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  span{
    a{
      color: $text-alpha !important;
    }
  }
  .avatar-news{
    position: absolute;
    right: 0;
    border-radius: 12px;
    overflow: hidden;
    width: 280px;
    top: 0;
    @include avatar();
    a{
      padding-top: 64% !important;
    }
  }
  span{
    color: $text-alpha;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
  }
  p{
    color: $text-alpha;
  }
}
.numbers-news{
  position: absolute;
  right: 0;
  width: 350px;
  top: 0;
  ul{
    padding-left: 0;
    li{
      list-style: none;
      margin-bottom: 15px;
      .itemnewsNumbers{
        display: inline-block;
        width: 100%;
        position: relative;
        padding-left: 60px;
        span{
          position: absolute;
          left: 0;
          top:0;
          font-size: 40px;
          color: $ogran;
        }
        label{
          color: $text-alpha;
          a{
            color: $text-alpha !important;
          }
        }
      }
    }
  }
}
.gird-photo{
  display: inline-block;
  
  width: 100%;
  .content-gird-photo{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-bottom: 20px;
    margin-right: -5px;
    display: flex;
    .photo-ex-item{
      width: 33.3333%;
      padding: 0 5px;
    }
  }
}
.list-news-home{
  position: relative;
  padding-right: 420px;
}
.tour-section{
  float: left;
  width: 100%;
  background: $brand2;
  padding-top: 0 !important;
  .title-section{
    padding-top: 50px;
  }
  &::before{
    background: url(../images/cloud-bottom.png) no-repeat top;
    height: 140px;
    width: 100%;
    display: inline-block;
    content: '';
  }
  .button-link{
    a{
      height: 45px;
      
    }
  }
}
.form-homepage{
  float: left;
  width: 100%;
  position: relative;
  background: $ogran;
  padding: 40px 0;
  padding-bottom: 140px;
  &::after{
    background: url(../images/cloud.png) no-repeat top;
    height: 186px;
    width: 100%;
    display: inline-block;
    position: absolute;
    bottom: -2px;
    left: 0;
    content: '';
  }
  h4{
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 300;
  }
  form{
    max-width: 750px;
    margin: auto;
    z-index: 1;
    padding-right: 155px;
    position: relative;
    display: flex;
    .filed-form{
      width: 33.3333%;
      padding: 0 5px;
      display: inline-block;
      input{
        height: 50px;
        border-radius: 12px;
        border: 0;
        padding: 5px 15px;
        width: 100%;
        background: white;
        &::placeholder{
          color: #323436 !important;
        }
      }
    }
    .button-action-form{
      position: absolute;
      right: 0;
      width: 150px;
      button{
        height: 50px;
        background: none;
        border: 1px solid white;
        text-transform: uppercase;
        font-weight: 700;
        color: white;
        width: 100%;
        border-radius: 12px;
      }
    }
  }

}
.banner-slide{
  position: relative;
  display: inline-block;
  width: 100%;
  background: black;
  img{
    width: 100%;
    opacity: .8;
  }
  .infor-banner-home{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items:flex-end;
    padding-bottom: 170px;
    top: 0;
    h6{
      
      color: white;
      font-weight: bold;
      display: inline-block;
      width: 100%;
      margin-bottom: 0;
      position: relative;
      font-size: 44px;
      &::after{
        display: block;
        background: url(../images/brush-green.svg) no-repeat;
        height: 60px;
        width: 200px;
        background-size: contain;
        content: '';
        margin: auto;
      }
    }
    h1{
      font-size: 70px;
      font-weight: bold;
      color: white;
    }
    p{
      font-size: 20px;
      color: white;
    }
  }
  &::after{
    position: absolute;
    bottom:-4px;
    content: '';
    display: inline-block;
    height: 193px;
    width: 100%;
    left: 0;
    background: url(../images/cloud.png) no-repeat bottom;
  }
}
.box-road-tour{
  position: relative;
  display: inline-block;
  &::before{
    content: '';
    display: inline-block;
    position: absolute;
    left: 11px;
    top: 29px;
    width: 1px;
    height: 100%;
    border:1px dashed #C1C1C1;
  }
  width: 100%;
  .item-note{
    padding-left: 30px;
    label{
      font-size: 16px;
      margin-bottom: 15px;
      &::before{
        top: 6px !important;
      }
    }
  }
}
.title-roadTour{
  position: relative;
  display: flex;
  margin-bottom: 30px;
  margin-top: 20px;
  img{
    width: 23px;
  }
  span{
    font-weight: 700;
    font-size: 16px;
    margin-left: 10px;
    text-transform: uppercase;
  }
}
.tour-sider-DetailPage{
  .owl-nav button.owl-prev span::after {
    background: url(../images/prev-black-slide.svg) no-repeat center top;
}
.owl-nav button.owl-next span::after {
  background: url(../images/next-black-slide.svg) no-repeat center top;
}
  .item-tour{
    border: 1px solid #d9d9d9;
    margin-bottom: 50px;
  }
 
}
.pt-0{
  padding-top: 0 !important;
}
.blogs-page{
  padding-top: 0 !important;
  
}
.banner-ads{
  border-radius: 12px;
  overflow: hidden;
  img{
    width: 100%;
  }
}
.blogs-section{
  &.list-ktdd{
    h3{
      a{
        font-weight: 700;
      }
    }
  }
  &.gray{
    padding-bottom: 15px !important;
    h3{
      a{
        font-weight: normal;
      }
    }
  }
  h3{
    &.lager{
      a{
        font-size: 32px;
        font-weight: 700;
      }
    }
    a{
      font-size: 18px;
      font-weight: normal;
      color: $text;
    }
  }
}
.avatar-news {
	display: inline-block;
	width: 100%;
  overflow: hidden;
  border-radius: 12px;
	a {
		position: relative;
		padding-top: 56%;
		display: block;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			left: 0;
			top: 0;
		}
	}
}
.box-news {
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;

}
.item-news-right {
	display: inline-block;
	width: 100%;
	margin-bottom: 25px;

}

.tab-blogs-page{
  justify-content: center;
  width: 100%;
  background: white;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  padding: 15px 0;
  padding-bottom: 0 !important;
  overflow: auto;
  text-align: center;
  a{
    text-transform: uppercase;
    color: $text-alpha;
    margin: 0 20px;
    padding-bottom: 20px;
    font-weight: 700;
    position: relative;
    &::after{
      height: 2px;
      width: 100%;
      display: inline-block;
      
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
    }
    &.active{
      color: $ogran !important;
      &::after{
        background: $ogran;
      }
    }
  }
}
.cart-page{
  padding-top: 20px;
  input{
    border-radius: 8px;
  }
  .checkbox-status{
    margin: 10px 0 0 0;
    float: left;
    label{
      &::before{
        border: 1px solid $border;
      }
      span{
        margin-top: 3px;
        float: right;
        color: $border;
        position: relative;
        &::before{
          position: absolute;
          left: -12px;
          top: 6px;
          width:8px;
          height:8px;
          content: '';
          display: block;
          border-radius: 50%;
          background: #76BA69;
        }
        .styled-checkbox:checked + label:before {
          background: #fff;
          border: 1px solid $border !important;
        }
        &.occupied{
          color: $border;
          &::before{
            background: $border;
          }
          .styled-checkbox:checked + label:before {
            background: #fff;
            border: 1px solid $border !important;
          }
        }
        &.reserved{
          color: $ogran;
          &::before{
            background: $ogran;
          }
          .styled-checkbox:checked + label:before {
            background: #fff;
            border: 1px solid $ogran !important;
          }
        }
      }
    }
    .styled-checkbox {
      position: absolute; // take it out of document flow
      opacity: 0; // hide it
      
      & + label {
        position: relative;
        cursor: pointer;
        padding: 0;
      }
      
      // Box.
      & + label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 20px;
        border-radius: 4px;
        height: 20px;
        margin-top: 2px;
      }
      
      
      
      
      // Box checked
      &:checked + label:before {
        background: #fff;
        border: 1px solid $ogran;
      }
      
      // Disabled state label.
      &:disabled + label {
        color: #b8b8b8;
        cursor: auto;
      }
      
      // Disabled box.
      &:disabled + label:before {
        box-shadow: none;
        background: #fff;
        
      }
      
      // Checkmark. Could be replaced with an image
      &:checked + label:after {
        content: '';
      display: block;
      position: absolute;
      top: 4px;
      left: 7px;
      width: 6px;
    color: $ogran;
      background: white;
      height: 13px;
      box-shadow: none !important;
      border: solid ;
      border-width: 0 2px 2px 0;
      transform: rotate(
  45deg
  );
      }
      }
      .available{
      span{
        color: $border;
        &::before{
          background: $border;
        }
      }
      .styled-checkbox {
        // Box hover
        &:hover + label:before {
          background: #fff;
          border: 1px solid $border;
        }
        
        
        // Box checked
        &:checked + label:before {
          background: #fff;
          border: 1px solid $border;
        }
        
  
        // Disabled state label.
        &:disabled + label {
          color: #b8b8b8;
          cursor: auto;
        }
        
        // Disabled box.
        &:disabled + label:before {
          box-shadow: none;
          background: #fff;
        }
        
        // Checkmark. Could be replaced with an image
        &:checked + label:after {
          content: '';
          display: block;
          position: absolute;
          top: 3px;
          left: 8px;
          width: 6px;
          background: white;
          color: $brand2;
          height: 14px;
          box-shadow: none !important;
          border: solid #b8b8b8;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);	
        }
        }
      }
  }
}
.exportVat{
  display: inline-block;
  width: 100%;
  margin: 15px 0;
  background: white;border: 1px solid #E88F74;
  box-shadow: 0px 8px 32px rgba(129, 129, 129, 0.1);
  border-radius: 12px;
  padding: 30px;
}
.momo-filed{
  margin-top: 20px;
  img{
    width: 30px;
    margin: 0 5px;
  }
}
.form-cart{
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  h6{
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}
.content-cart{
  background: #FFFFFF;
  padding: 30px;
box-shadow: 0px 8px 32px rgba(129, 129, 129, 0.1);
border-radius: 12px;
display: block;
max-width: 800px;
margin: auto;
width: 100%;
table{
  margin-bottom: 0;
  thead{
    th{
      text-transform: uppercase;
      font-size: 13px;
      text-align: left;
      &.right{
        text-align: right;
      }
      &.center{
        text-align: center;
      }
    }
  }
  tr{
    td{
      vertical-align: inherit;
      &.right{
        text-align: right;
      }
      &.center{
        text-align: center;
      }
      input, span{
        display: inline-block;
        width: 100%;
        text-align: center;
      }
      span{
        font-size: 12px;
        color: $text-alpha;
      }
      input{
        border: 1px solid #EBEBEB;
        height: 40px;
        border-radius: 12px;
        font-size: 20px;
        text-align: center;
        font-weight: 300;
      }
    }
  }
  img{
    width: 100px;
  }
  thead{
    border: 0;
    border-bottom: 1px solid #EBEBEB;
    th{
      border: 0;
      border-bottom: 0;
    }
  }
  td{
    border: 0 !important;
  }
}
}
.infor-price{
  text-align: right;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  padding-top: 15px;
  padding-bottom: 15px;
  span{
    text-transform: uppercase;
    font-weight: 300;
    color: $text-alpha;
  }
  b{
    font-size: 24px;
    font-weight: 700;
    color: $ogran;
  }
}
.item-mientay-nambo-avatar{
  a{
    position: relative;
    padding-top: 52%;
    display: block;
    img{
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0;
    }
  }
}
.tour-sider-DetailPage{
  background: none !important;
  &::before{
    display: none;
  }
}
.infor-detailTour-page{
  background: #F7F9FB;
  float: left;
  width: 100%;
}
.btn-bookoing-deTail{
  width: 167px !important;
  padding: 0;
  background: $ogran;
    display: flex;
    border: 0 !important;
    align-items: center;
    justify-content: center;
  a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
      color: white !important;
      font-size: 16px !important;
      text-transform: uppercase;
      font-weight: 700;
      width: initial !important;
    }
    img{
      margin-left: 3px;
      width: 25px;
    }
  }
}
.page-tourlist{
  .item-tour{
    border: 1px solid $border;
    margin-bottom: 50px;
  }
}
.header-tour-detail{
  position: relative;
  padding-right: 380px;
  .col-infor-right{
    position: absolute;
    right: 0;
    top: 0;
    width: 340px;
  }
}
.box-infor-price{
  padding:5px 20px;
  border: 1px solid #EBEBEB;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
}
.price{
  display: inline-block;
  width: 100%;
  b{
    color: $ogran;
    font-weight: 700;
    font-size: 36px;
  }
  span{
    font-size: 20px;
    color: $text;
    font-weight: 700;
  }
  p{
    display: inline-block;
    width: 100%;
    color: $ogran;
    font-size: 14px;
  }
}
.item-note{
  display: inline-block;
    width: 100%;
  label{
    display: inline-block;
    width: 100%;
    font-size: 14px;
    padding-left: 20px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 3px;
      display: inline-block;
      width: 15px;
      height: 15px;
      background: url(../images/check.svg) no-repeat;
      background-size: contain;
    }
  }
}
.amount-box{
display: inline-block;
width: 100%;
margin-top: 15px;
b{
font-size: 16px;
text-transform: uppercase;
color: $text;
font-weight: 700;
margin-bottom: 10px;
display: inline-block;
width: 100%;
}
.box-flex-adults{
  display: flex;
}
.box-Adults{
  padding: 0 5px;
  &:nth-child(1){
    padding-left: 0;
  }
  &:nth-last-child(1){
    padding-right: 0;
  }
  .content-adults{
    height: 73px;
    border: 1px solid #5F5F5F;
    border-radius: 12px;
    width: 76px;
    padding: 0 5px;
    input{
      font-size: 34px;
      text-align: center;
      color: #323436;
      border: 0;
      background: none;
      display: inline-block;
      width: 100%;
      height: 43px; 
    }
    span{
      font-size: 10px;
      display: inline-block;
      width: 100%;
      color: $text-alpha;
      text-align: center;
    }
  }
}
}
.infor-head-detail_Tour{
  ul{
    padding: 0;
    margin: 0;
    li{
      position: relative;
      padding-left: 60px;
      list-style: none;
      border-bottom: 1px solid #EBEBEB;
      padding-bottom: 7px;
      margin-bottom: 3px;
      &:nth-last-child(1){
        border: 0;
      }
      img{
        width: 43px;
        position: absolute;
        left: 0;
        top: 3px;
      }
      span{
        text-transform: uppercase;
        color: $text-alpha;
        font-size: 12px;
      }
      b{
        font-weight: 700;
        display: inline-block;
        width: 100%;
        color: $text;
        font-size: 16px;
      }
    }
  }
}






/*-- slider space--*/
.slide-space{
  img{
  border-radius: 12px;
  }
  .owl-dots{
    display: none;
  }
  svg{
    height: 50px;
    path{
      stroke: white !important;
    }
  }
}
.app-homework-section{
  margin-top: -100px;
  position: relative;
  .space-school-content{
      height: 546px;
  }
}
#sync1 {
  .item {
    color: #FFF;
  }
}

#sync2 {
  display: flex;
  justify-content: center;
  .item {
    margin: 3px;
    color: #FFF;
    text-align: center;
    opacity: .6;
    cursor: pointer;
    
  }
  .owl-nav, .owl-dots{
display: none;
  }
}
.owl-carousel{
    z-index: 0;
}
.owl-item.active.current{
    .item{
        opacity: 1 !important;
    }
}

.owl-theme {
  .owl-nav {
    /*default owl-theme theme reset .disabled:hover links */
    [class*='owl-'] {
      transition: all .3s ease;
      &.disabled:hover {
       background-color: #D6D6D6;
      }   
    }
    
  }
}

//arrows on first carousel
#sync1.owl-theme {
  position: relative;
  .owl-next, .owl-prev {
      width: 40px;
      background: rgba(255, 255, 255, 0.7);
      height: 40px;
      margin-top: -20px;
      position: absolute;
      top: 50%;
      padding: 10px !important;
      display: inline-block;
      border-radius: 50%;
      svg{
          opacity: .6;
      }
  }
  .owl-prev {
    left: 10px;
  }
  .owl-next {
    right: 10px;
  }
}












.pagging-page {
	width: 100%;

	.pagination {
		margin-top: 15px;
		justify-content: center;
		align-items: center;
		margin-bottom: 0;
	}

	ul {
		li {

			a,
			span {
				width: 32px;
				height: 32px;
				margin: 0 10px;
				text-align: center;
				font-size: 14px;
				display: inline-block;
				text-decoration: none;
				color: $text;
				padding: 5px;

				&.active {
					border: 1px solid $ogran  !important;
					color: $ogran;
					background-color: white;
					padding-top: 5px;
          border-radius: 4px;
				}
			}

			&:hover {
				a {
					color: $ogran;
				}
			}
		}
	}
}
.sumary-blogs-detail{
	ul{
    margin-top: 20px;
    margin-bottom: 0;
		padding-left: 15px !important;
		li{
      padding: 5px 0;
      a{
        color: $text;
        &:hover{
          color: $ogran;
        }
      }
			&::marker{
				opacity: .3;
			}
		}
	}
}
.sticky-box {
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
  top: 78px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
  margin-top: 50px;
  border-radius: 8px;
}
.content-editor-Blogs{
  margin-top: 48px;
  img{
    margin: 15px 0;
    max-width: 100%;
    border-radius: 12px;
  }
  p{
    font-size: 16px;
  }
}

/* --------------------------- Liên hệ------------------------------- */
.section-lien-he {
	background: url(../images/bg-lienhe.svg) center top no-repeat;

	.title-section {
		text-align: left;

		a {
			color: white;
		}
	}

	.breadcrumbs {

		a,
		i {
			color: white;
		}
	}

	.thong-tin-lien-he {
		display: flex;
		justify-content: space-between;
		padding: 0 0 10px 0;
		padding-bottom: 65px;

		.content-hotline {
			display: flex;
			color: $text-alpha;
			align-items: center;
			.icon-phone-footer{
				margin-right: 15px;
			}
		}
		.hotline {
			float: left;
			span {
				display: inline-block;
				width: 100%;
				font-size: 12px;
				color: $text-alpha;
			}
			a {
				display: inline-block;
				width: 100%;
				font-size: 16px !important;
				font-weight: 600 !important;
				color: $ogran;
				line-height: 20px;
			}
		}

	}
}
.section-lien-he{
	position: relative;
    z-index: 1;
    padding: 30px;
}
.form-here{
	z-index: 5;
    position: relative;
    margin-top: -109px;
    bottom: 0;
    padding-bottom: 100px;
	
	.form-lienhe {
		background: #FFFFFF;
		box-shadow: 0px 8px 32px rgba(129, 129, 129, 0.1);
		border-radius: 8px;
		padding: 50px;
		position: relative;
		input {
			background: #EDEDED;
			border-radius: 6px;
			height: 51px;
			border: 1px solid white;
      &:focus{
        background: white;
        border: 1px solid $border;
      }
		}

		p {
			color: #686868;
		}

		.tiltle-form {
			font-size: 28px;
			text-transform: inherit;
			font-weight: 800;

		}

		label span {
			color: #F42C00;
		}

		textarea {
			background-color: #EDEDED;
			border: 1px solid white;
			height: 120px;
      border-radius: 6px;
      &:focus{
        background: white;
        border: 1px solid $border;
      }
		}
	}
	.img-lienhe{
		z-index: -1;
		position: relative;
		a{
		position: relative;
		padding-top: 107%;
		display: block;
		box-shadow: 0px 8px 32px rgba(129, 129, 129, 0.1);
		border-radius: 8px;
		overflow: hidden;
		img{
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		left: 0;
		top: 0;
	
		}
		}
	}
}
.booking-btn{
  display: none;
}
.section-404 {
	text-align: center;

	h2 {
		font-size: 135px;
		font-weight: 900;
		color: $ogran
	}

	p {
		font-size: 22px;
		margin-bottom: 30px;
		color: #283646;
		font-weight: normal;
	}
}
.conetnt-infor-bannerhome{
  max-width: 75%;

  h6{
    text-shadow: 0px 5px 12px rgba(0, 0, 0, 0.65);
    font-family: 'Lora', serif;
  }
  p{
  margin: auto;
  text-shadow: 0px 5px 12px rgba(0, 0, 0, 0.65);
  margin-bottom: 15px;
  br{
    display: none;
  }
  }
  h1{
    text-transform: uppercase;
    text-shadow: 0px 5px 12px rgba(0, 0, 0, 0.65);
  }
}
.booking-btn{
  position: fixed;
  bottom: 10px;
  right: 5px;
  img{
    width: 120px;
  }
}
.newspaper-section{
  .row{
    justify-content: center
  }
}
.avatar-newspaper{
  @include avatar();
  a{
    padding-top: 50% !important;
  }
}
.item-newspaper{
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.09);
  border-radius: 12px;
  overflow: hidden;
  p{
    padding: 30px;
    margin-bottom: 0;
  }
}
.publisher-newspaper{
  display: flex;
  padding: 0 30px;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
  img{
    width: 45px;
  }
  span{
    font-weight: 300;
    color: $text-alpha;
    margin-left: 5px;
  }
}
.menu-PC-MB{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 330px;
  background: white;
  height: 100%;
  padding: 30px;
  z-index: 99;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  &.active{
    display: inline-block !important;
  }
  .logo-pc-mb{
    margin-bottom: 30px;
  }
}
.value-content{
  .row{
    margin-left: -30px;
    margin-right: -30px;
    .col-md-6{
      padding: 0 30px;
    }
  }
  .item-value{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 115px;
    p{
      color: $text-alpha;
    }
    .icon-value{
      width: 85px;
      height: 100%;
      display: flex;
      align-items: center;
      position: absolute;
      left: 0;
      top: 0;
      img{
        width: 100%;
      }
    }
  }
}
.title-detailTour{
  h3{
    text-transform: uppercase;
    color: $text !important;
    position: relative;
    &::after{
      background: url(../images/bursh-small.svg) no-repeat center;
      height: 55px;
      background-size: contain;
      content: '';
      display: block;
      width: 185px;
      margin-top: -30px;
    }
  }
}
.brush-title{
  h2{
    color: $text !important;
    position: relative;
    &::after{
      background: url(../images/bursh-orange.svg) no-repeat center;
      height: 55px;
      margin: auto;
      background-size: contain;
      content: '';
      display: block;
      width: 100%;
      margin-top: -30px;
    }
  }
}
.title-mientaynambo{
  strong{
    color: $ogran;
    font-size: 22px;
    font-weight: 700;
  }
  b{
    font-family: 'Lora', serif;
    font-size: 40px;
    color: $green;
  }
  p{
    color: $text-alpha;
  }
  h2{
    text-transform: uppercase;
    color: $brand2;
    font-weight: bold;
    position: relative;
    &::after{
      display: block;
        background: url(../images/brush-green.svg) no-repeat;
        height: 60px;
        width: 100px;
        background-size: contain;
        content: '';
        position: absolute;
        top: -14px;
    }
  }
}
.menu-btn{
  display: flex;
  .button-action{
    a{
      border-radius: 0;
      padding: 0 15px;
    }
  }
  .action-menu-header{
    margin-top: 0;
  }
  nav{
    display: flex;
    align-items: center;
    ul{
      display: flex;
      margin-bottom: 0;
      li{
        list-style: none;
        height: 50px;
        display: flex;
        align-items: center;
        position: relative;
        a{
          color: white;
          font-size: 16px;
          padding: 0px 15px;
        }
        ul{
          display: inline-block;
          position: absolute;
          left: 0;
          top: 50px;
          background: white;
          border-radius: 8px;
          width: 300px;
          padding:10px 15px;
          opacity: 0;
          visibility: hidden;
          box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.09);
          li{
            
            a{
              color: $text;
              display: inline-block;
              width: 100%;
              padding: 10px 15px;
              border-radius: 8px;
              &:hover{
                background: #F3F6FE;
              }
            }
          }
        }
        button{
          &.sub-menu-toggle{
            display: none;
          }
        }
        &:hover{
          ul{
            opacity: 1;
            visibility: initial !important;
            li{
              &:hover{
                a{
                  color: $ogran;
                }
              }
            }
          }
        }
      }
    }
  }
}
.scroll-header{
  display: flex;
  z-index: 1;
  justify-content: space-between;
}
.menu-hambuger{
  margin: 10px 0 0 40px;
  cursor: pointer;
}
.default-header{
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.scroll-header{
  display: flex;
  padding-left: 10px;
  width: 100%;
  background: $brand2;
  .logo-pc-mb{
    display: flex;
      align-items: center;
      height: 100%;
    img{
      height: 35px;
    }
  }
}
header{
  padding: 0px 0px;
  position: fixed;
  top: 0;
  left:0 ;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 9;
  &.scroll-to-top{
    .default-header{
      display: none !important;
    }
    .scroll-header{
      display: inherit!important;
    }
  }
}
.action-menu-header{
  margin-top: 15px;
  display: flex;
  a{
    height: 50px;
    border-radius: 70px;
    background: $ogran;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-size: 16px;
    text-transform: uppercase;
    
    font-weight: 600;
    img{
    margin-left: 10px;
    }
    &:hover{
      opacity: .9;
    }
  }
}
.current-menu-item > a {
  color: $ogran !important;
}
.cotent-tabBlogs{
  display: inline-flex;
  width: max-content;
}
.menu-nav{
  text-align: center;
  ul{
    &.active{
      li{
        button{
          span.icon-plus{
            display: none !important;
          }
          span.icon-minus{
            display: block !important;
          }
        }
        ul{
          display: inline-block !important;
          position: relative;
          top: 0;
          width: 100%;
          left: 0;
          background: white;
          border-radius: 8px;
          padding: 7px 10px;
        }
      }
    }
    li{
      
      a{
        font-weight: 700;
        font-size: 18px !important;
        padding: 10px 0 !important ;
        display: inline-block;
        color: $text;
      }
      ul{
        li{
          a{
            font-weight: 300;
            color: $text-alpha;
          }
        }
      }
      button{
        position: absolute;
        right: 0;
        outline: none;
        top: 14px;
        border: 0;
        background: none;
        span{
          color: $text-alpha;
        }
        svg{
          width: 30px;
          height: 30px;
        }
        span{
          font-size: 20px;
          &.icon-minus{
            display: none;
          }
          &.screen-reader-text{
            display: none;
          }
        }
      }
      ul{
        display: none;
      }
    }
  }
}


.breadcrumbs i:before {
    font-size: 8px;
}
a {
  &:hover {
    text-decoration: none;
  }
}
.container {
  max-width: 1200px;
}

.content-head .menu nav>ul>li.submenu>ul {
	justify-content: center;
	margin-bottom: 0;
    display: inherit !important;
}

.menu nav ul>li>a {
	&::before {
		content: "\e64b";
		display: inline-block;
		font-family: 'themify';
		font-size: 9px;
		font-weight: 100;
		position: absolute;
		right: 0;
		top: 14px;
        
	}
    &::before:last-child(1){
        display: none;
    }
}
.action-menu-header{
  display: flex;
}
.menu-nav {
	position: relative;

	nav {
		ul {
			padding: 0;

			li {
				position: relative;
				list-style: none;
				padding: 5px 0;
                &::marker{
                    display: none !important;
                }

				i {
					display: none;
				}

				a {
					padding: 0 20px;
					position: relative;
					font-size: 14px;
				}

				ul {
					position: absolute;
					top: 40px;
					padding: 15px 0;
					width: 200px;
					left: 0;
					background: white;
					box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
					border-radius: 8px;
					padding: 0 8px;
					&::marker{
						display: none;
					}
					li {
						transition: all 0.3s linear;
						&:last-child{
							border-bottom: 0;
						}

						a {
							display: inline-block;
							width: 100%;
							font-weight: normal;
							padding: 10px 15px;
							border-radius: 8px;
							&:hover{
								background: #F3F6FE;
							}

							&::before {
								display: none;
							}

							&:hover {
								color: $ogran;
							}
						}

					}
				}

				&:hover {
					ul {
						opacity: 1;
						visibility: initial;
					}
				}

				&.active {
					a {
						color: $text;
					}

					ul {
						li {
							a {
								color: $text;

								&:hover,
								&.active {
									color: $ogran !important;
								}
							}
						}
					}
				}
			}
		}
	}
}
/* -------Sticky menu srcoll----- */
.menu-scroll {
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
  
	nav {
		padding: 0 !important;
	}

	
}

.no-sub a {

	&::after,
	&::before {
		display: none !important;
	}
}
.section-why-join-page{
    border: none !important;
}
.menu nav ul > li > a:nth-last-child(1)::before{
    display: none;
}
.item-photo-slide{
  background: white;
  padding: 10px;
  border-radius: 12px;
  overflow: hidden;
  img{
    max-width: 100%;
    width: initial !important;
    margin: auto;
    max-height: 100vh;
    border-radius: 8px;
    overflow: hidden;
  }
}
.photo-popup{
  position: fixed;
  overflow: hidden;
  display: flex;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  visibility:hidden;
  opacity: 0;
  &.active{
    opacity: 1;
    visibility: inherit;
  }
  
}
.photoPage{
  padding-top: 0 !important
}
.photo-ex-item{
  @include avatar();
  a{
    margin-bottom: 10px;
    border-radius: 12px;
    padding-top: 57% !important;
    overflow: hidden;
  }
  &:nth-child(2), &:nth-child(4){
    a{
      padding-top: 117% !important;
    }
  }
}